asgiref==3.8.1
cairocffi==1.7.1
CairoSVG==2.7.1
cffi==1.17.1
cssselect2==0.7.0
defusedxml==0.7.1
Django==4.2.17
pillow==11.1.0
pycparser==2.22
sqlparse==0.5.3
tinycss2==1.4.0
typing_extensions==4.12.2
tzdata==2024.2
webencodings==0.5.1
django-simpleui==2025.1.13